{{log 'alternative-fertigkeit-dialog' this}}

<div class="combat-dialog-container iaas-fertigkeit-dialog-form">
    <div class="left-column">
        <div>
            <label>Anzahl W20:</label>
            <label>
                <input type="radio" name="xd20-{{dialogId}}" value="0" {{#if (ifEq checked_xd20 "0")}}checked{{/if}} autofocus /> 1W20
            </label>
            <label>
                <input type="radio" name="xd20-{{dialogId}}" value="1" {{#if (ifEq checked_xd20 "1")}}checked{{/if}} /> 3W20
            </label>
        </div>

        {{#if (ifEq actor.type "held")}}
        <div>
            <label>Schips:</label>
            {{#if hasSchips}}
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="0" {{#if (ifEq checked_schips "0")}}checked{{/if}} /> Kein Schips
            </label>
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="1" {{#if (ifEq checked_schips "1")}}checked{{/if}} /> Schips ohne Eigenheit
            </label>
            <label>
                <input type="radio" name="schips-{{dialogId}}" value="2" {{#if (ifEq checked_schips "2")}}checked{{/if}} /> Schips mit Eigenheit
            </label>
            {{else}}
            <label class="warning">Keine Schips verfügbar!</label>
            {{/if}}
        </div>
        {{/if}}

        <hr />

        {{#if hasTalents}}
        <div class="talent-warning" style="margin-bottom: 0.5em;">
            <i class="fas fa-exclamation-triangle"></i> Hinweis: Kein Talent ausgewählt
        </div>
        <div class="flexrow">
            <label>Talent:</label>
            <select id="talent-{{dialogId}}" style="max-width: 200px;">
                <option value="-2">ohne Talent</option>
                <option value="-1">mit Talent</option>
                {{#each talentList as |talentName key|}}
                <option value="{{key}}">{{talentName}}</option>
                {{/each}}
            </select>
        </div>
        {{/if}}

        <div class="flexrow">
            <label>Aktion:</label>
            <select id="usage-context-{{dialogId}}" style="max-width: 200px;">
                {{#each usageContexts as |context|}}
                <option value="{{context.value}}" {{#if (ifEq context.value ../defaultUsageContext)}}selected{{/if}}>{{context.label}}</option>
                {{/each}}
            </select>
        </div>

        <div class="flexrow dialog-select-row">
            <label>Benutzter Gegenstand:</label>
            <select id="used-item-{{dialogId}}" class="dialog-select" title="Benutzter Gegenstand" style="max-width: 200px;">
                <option value="none" {{#if (ifEq defaultUsedItemId "none")}}selected{{/if}}>nichts</option>
                {{#each usedItems as |item|}}
                <option value="{{item.value}}" title="{{item.label}}" {{#if (ifEq item.value ../defaultUsedItemId)}}selected{{/if}}
                    >{{item.label}}</option
                >
                {{/each}}
            </select>
        </div>

        <div class="flexrow {{#unless difficulty.active}}is-hidden{{/unless}}" data-difficulty-row>
            <label>Schwierigkeit:</label>
            <input
                id="difficulty-{{dialogId}}"
                class="{{#if difficulty.fixed}}is-hidden{{/if}}"
                type="number"
                value="{{difficulty.inputValue}}"
                data-dtype="Number"
                min="0"
                step="1"
                style="max-width: 80px;"
            />
            <input
                id="difficulty-fixed-{{dialogId}}"
                class="readonly-difficulty {{#unless difficulty.fixed}}is-hidden{{/unless}}"
                type="number"
                value="{{difficulty.displayValue}}"
                readonly
                disabled
                style="max-width: 80px;"
            />
        </div>

        <div class="flexrow">
            <label>Hohe Qualität:</label>
            <input id="hohequalitaet-{{dialogId}}" type="number" value="0" data-dtype="Number" min="0" style="max-width: 80px;" />
        </div>

        <div class="flexrow">
            <label>Modifikator:</label>
            <input id="modifikator-{{dialogId}}" type="number" value="0" data-dtype="Number" style="max-width: 80px;" />
        </div>

        <hr />

        <div class="flexrow">
            <label>Würfelmodus:</label>
            <select id="rollMode-{{dialogId}}">
                {{selectOptions rollModes selected=defaultRollMode localize=true}}
            </select>
        </div>
    </div>

    <div class="right-column">
        <div class="flex_center_center">
            <div>Würfelaktionen:</div>
        </div>
        <div id="modifier-summary" class="modifier-summary-container"></div>
    </div>
</div>
