<form class="{{cssClass}} flexcol" autocomplete="off">
    
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 --}}
            <div class="resources grid grid-3col">
                {{!-- "flex-group-center" is also defined in the _grid.scss file
                and it will add a small amount of padding, a border, and will
                center all of its child elements content and text. --}}
                <div class="resource flex-group-center">
                    <label for="system.gesundheit.hp.value" class="resource-label">Health</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.gesundheit.hp.value" value="{{system.gesundheit.hp.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.gesundheit.hp.max" value="{{system.gesundheit.hp.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.abgeleitete.ausdauer.value" class="resource-label">Stamina</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.abgeleitete.ausdauer.value" value="{{system.abgeleitete.ausdauer.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.abgeleitete.ausdauer.max" value="{{system.abgeleitete.ausdauer.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.abgeleitete.fokus.value" class="resource-label">Focus</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.abgeleitete.fokus.value" value="{{system.abgeleitete.fokus.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.abgeleitete.fokus.max" value="{{system.abgeleitete.fokus.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Main</a>
        <a class="item" data-tab="skills">Skills</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="spells">Spells</a>
        <a class="item" data-tab="biography">Biography</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Main Tab --}}
        <div class="tab main" data-group="primary" data-tab="main">
            {{!-- Top-level character information. --}}
            <div class="grid grid-2col">
                <div class="abilities">
                    <h3>Attributes</h3>
                    {{#each system.attribute as |ability key|}}
                    <div class="ability flexrow flex-group-center">
                        <label for="system.attribute.{{key}}.value" class="resource-label rollable" data-roll="d20+@attribute.{{key}}.mod" data-label="{{key}}">{{ability.label}}</label>
                        <input type="text" name="system.attribute.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
                        <span class="ability-mod rollable" data-roll="d20+@attribute.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
                    </div>
                    {{/each}}
                </div>
                
                <div class="derived-values">
                    <h3>Derived Values</h3>
                    <div class="resource flex-group-center">
                        <label for="system.abgeleitete.ini.value" class="resource-label">Initiative</label>
                        <input type="text" name="system.abgeleitete.ini.value" value="{{system.abgeleitete.ini.value}}" data-dtype="Number"/>
                    </div>
                    <div class="resource flex-group-center">
                        <label for="system.abgeleitete.geschwindigkeit.value" class="resource-label">Speed</label>
                        <input type="text" name="system.abgeleitete.geschwindigkeit.value" value="{{system.abgeleitete.geschwindigkeit.value}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>

        {{!-- Skills Tab --}}
        <div class="tab skills" data-group="primary" data-tab="skills">
            <div class="flexcol">
                {{!-- Skills header --}}
                <div class="items-header">
                    <div class="item-name">Skill Name</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create item" data-type="fertigkeit"><i class="fas fa-plus"></i> Add Skill</a>
                    </div>
                </div>
                
                {{!-- Skills list --}}
                <ol class="items-list">
                    {{#each fertigkeiten as |item id|}}
                    {{> item-component item=item}}
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Items Tab --}}
        <div class="tab items" data-group="primary" data-tab="items">
            <div class="flexcol">
                
                {{!-- Weapons Section --}}
                <div class="items-section">
                    <div class="items-header">
                        <h3>Weapons</h3>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create weapon" data-type="nahkampfwaffe"><i class="fas fa-plus"></i> Add Weapon</a>
                        </div>
                    </div>
                    <ol class="items-list">
                        {{#each waffen as |item id|}}
                        {{> item-component item=item}}
                        {{/each}}
                    </ol>
                </div>

                {{!-- Equipment Section --}}
                <div class="items-section">
                    <div class="items-header">
                        <h3>Equipment</h3>
                        <div class="item-controls">
                            <a class="item-control item-create" title="Create item" data-type="gegenstand"><i class="fas fa-plus"></i> Add Item</a>
                        </div>
                    </div>
                    <ol class="items-list">
                        {{#each gegenstaende as |item id|}}
                        {{> item-component item=item}}
                        {{/each}}
                    </ol>
                </div>
            </div>
        </div>

        {{!-- Spells Tab --}}
        <div class="tab spells" data-group="primary" data-tab="spells">
            <div class="flexcol">
                <div class="items-header">
                    <div class="item-name">Spell Name</div>
                    <div class="item-controls">
                        <a class="item-control item-create" title="Create spell" data-type="zauber"><i class="fas fa-plus"></i> Add Spell</a>
                    </div>
                </div>
                
                <ol class="items-list">
                    {{#each zauber as |item id|}}
                    {{> item-component item=item}}
                    {{/each}}
                </ol>
            </div>
        </div>

        {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
            {{editor enrichedBiography target="system.notes" button=true owner=owner editable=editable}}
        </div>

    </section>
</form>