<form class="{{cssClass}} flexcol" autocomplete="off">
    
    {{!-- Sheet Header --}}
    <header class="sheet-header">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
            {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
            use both the "grid" and "grid-Ncol" class where "N" can be any number from 1 to 12 --}}
            <div class="resources grid grid-3col">
                {{!-- "flex-group-center" is also defined in the _grid.scss file
                and it will add a small amount of padding, a border, and will
                center all of its child elements content and text. --}}                <div class="resource flex-group-center">
                    <label for="system.gesundheit.hp.value" class="resource-label">Gesundheit</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.gesundheit.hp.value" value="{{system.gesundheit.hp.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.gesundheit.hp.max" value="{{system.gesundheit.hp.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.abgeleitete.ausdauer.value" class="resource-label">Ausdauer</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.abgeleitete.ausdauer.value" value="{{system.abgeleitete.ausdauer.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.abgeleitete.ausdauer.max" value="{{system.abgeleitete.ausdauer.max}}" data-dtype="Number"/>
                    </div>
                </div>
                <div class="resource flex-group-center">
                    <label for="system.abgeleitete.fokus.value" class="resource-label">Fokus</label>
                    <div class="resource-content flexrow flex-center flex-between">
                        <input type="text" name="system.abgeleitete.fokus.value" value="{{system.abgeleitete.fokus.value}}" data-dtype="Number"/>
                        <span> / </span>
                        <input type="text" name="system.abgeleitete.fokus.max" value="{{system.abgeleitete.fokus.max}}" data-dtype="Number"/>
                    </div>
                </div>
            </div>
        </div>
    </header>

    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="main">Haupt</a>
        <a class="item" data-tab="skills">Fertigkeiten</a>
        <a class="item" data-tab="items">Gegenstände</a>
        <a class="item" data-tab="spells">Zauber</a>
        <a class="item" data-tab="biography">Biographie</a>
    </nav>    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{> modules/ilaris-alternative-actor-sheet/templates/sheets/tabs/main-tab.hbs}}

        {{> modules/ilaris-alternative-actor-sheet/templates/sheets/tabs/skills-tab.hbs}}

        {{> modules/ilaris-alternative-actor-sheet/templates/sheets/tabs/items-tab.hbs}}

        {{> modules/ilaris-alternative-actor-sheet/templates/sheets/tabs/spells-tab.hbs}}

        {{> modules/ilaris-alternative-actor-sheet/templates/sheets/tabs/biography-tab.hbs}}

    </section>
</form>