{{!-- Effect Card Component --}}
<div class="effect-card" data-item-id="{{effect._id}}" {{#if effect.description}}data-tooltip="{{effect.description}}"{{/if}}>
    {{!-- Edit button (left upper corner) --}}
    {{#unless (eq effect.flags.ilaris.sourceType "vorteil")}}
    <a class="effect-control item-edit effect-edit" data-itemclass="effect" data-itemid="{{effect._id}}" title="Effekt bearbeiten">
        <i class="fas fa-edit"></i>
    </a>
    {{/unless}}
    
    {{!-- Delete button (right upper corner) --}}
    {{#unless (eq effect.flags.ilaris.sourceType "vorteil")}}
    <a class="effect-control item-delete effect-delete" data-itemclass="effect" data-itemid="{{effect._id}}" title="Effekt löschen">
        <i class="fas fa-trash"></i>
    </a>
    {{/unless}}
    
    {{!-- Stack Controls (only for Stack-Effects) --}}
    {{#if (stringIncludes effect.name "Stack")}}
    <div class="effect-stack-controls">
        <a class="effect-stack-button effect-stack-decrease" 
           data-effect-id="{{effect._id}}" 
           title="Stack reduzieren">
            <i class="fas fa-minus"></i>
        </a>
        <a class="effect-stack-button effect-stack-increase {{#if (gte effect.changes.length 5)}}disabled{{/if}}" 
           data-effect-id="{{effect._id}}" 
           title="Stack erhöhen">
            <i class="fas fa-plus"></i>
        </a>
    </div>
    {{/if}}
    
    {{!-- Effect Icon --}}
    <div class="effect-icon">
        <img src="{{effect.img}}" alt="{{effect.name}}" title="{{effect.name}}"/>
    </div>
    
    {{!-- Effect Name --}}
    <div class="effect-name">
        <span>{{effect.name}}</span>
    </div>
    
    {{!-- Stack Badge (bottom-left corner, only for Stack-Effects) --}}
    {{#if (stringIncludes effect.name "Stack")}}
    <div class="effect-stack-badge">×{{effect.changes.length}}</div>
    {{/if}}
    
    {{!-- Duration (bottom right corner) --}}
    <div class="effect-duration">
        {{#if effect.duration.turns}}
         <span>{{effect.duration.turns}} Runden</span> 
        
        {{else}}
       <i class="fas fa-infinity" title="Unbegrenzte Dauer"></i>
        {{/if}}
    </div>
</div>
