{{!-- Health Resource - Bar style --}}
<div class="health-bar-container">
    <div class="energy-bar">
        <label class="energy-label">LP</label>
        <div class="energy-progress clickable" data-field="system.gesundheit.hp" data-current="{{actor.system.gesundheit.hp}}" data-max="{{actor.system.gesundheit.hp_max}}">
            <div class="energy-fill health-fill" style="width: {{percentage actor.system.gesundheit.hp.value actor.system.gesundheit.hp.max}}%"></div>
            <div class="energy-text">
                {{actor.system.gesundheit.hp.value}} / {{actor.system.gesundheit.hp.max}} LP
                <a class="energy-settings" data-health-settings="true" title="Wunden bearbeiten"><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </div>

    {{!-- Display current condition --}}
    {{#if actor.system.gesundheit.display}}
    <div class="condition-display">
        <small>{{actor.system.gesundheit.display}}</small>
    </div>
    {{/if}}
</div>